<!DOCTYPE html>
{% if latest_question_list.enabled_questions %}
<p>Bienvenidos!</p>
<ul>
{% for question in latest_question_list.enabled_questions %}
    <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if latest_question_list.disabled_questions %}
<p>Preguntas ya votadas:</p>
<ul>
{% for question in latest_question_list.disabled_questions %}
    <li>{{ question.question_text }}</li>
{% endfor %}
</ul>
{% endif %}
{% if not latest_question_list.enabled_questions and not latest_question_list.disabled_questions %}
    <p>No polls are available.</p>
{% endif %}


