<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    {% include 'home/navbar.html' %}
    
    <div class="jumbotron">
        <h1 class="display-4">¡Realiza encuestas!</h1>
        <p class="lead">Participa y gana muchos premios.</p>
        <hr class="my-4">
        <p>Comienza hoy.</p>
        {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="" role="button">Contestar encuestas</a>
        
        {% else %}
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Registrarse</a>

        {% endif %}
    </div>

    {% if not user.is_authenticated %}

    <div class="container-fluid">
        <div class="col-9">
            <div class="col-7 py-4">

                <div class="row">
                    <div class="col-9">
                      <h4>Si ya tienes un usuario, inicia sesion</h4>
                    </div>
                  </div>

                <br>

                {% block content %}
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                  </form>
                {% endblock %}

                <!-- <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                  </form> -->


            </div>

        </div>
    </div>

    {% endif %}
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>